- cache ['subscribe_buttons', can?(:create, Subscription), resource] do

  = link_to 'Unsubscribe', subscription_path(resource),
                           method: :delete,
                           remote: true,
                           data: { type: :json },
                           class: "unsubscribe #{'hidden' unless subscripted_resource?(resource)}"

  = link_to 'Subscribe', polymorphic_path([resource, Subscription]),
                         method: :post,
                         remote: true,
                         data: { type: :json },
                         class: "subscribe #{'hidden' if subscripted_resource?(resource)}"
